<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library System</title>
</head>
<body>

<div th:switch="${books}">
    <h2 th:case="null">No Books yet!</h2>
    <div th:case="*">
        <h2>Books</h2>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.description}"></td>
                <td th:text="${book.rating}"></td>
                <td><a th:href="@{/delete/{id}(id=${book.ID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addbook">Add a new book</a></p>
</div>

</body>
</html>