<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new Book</title>
</head>
<body>

<form action="#" th:action="@{/addbook}" th:object="${book}" method="post">
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Title">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    <label for="rating">Rating</label>
    <input type="text" th:field="*{rating}" id="rating" placeholder="Rating">
    <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span>
    <input type="submit" value="Add Book">
</form>

</body>
</html>